.chat {
    max-width: 352px;
}

.chat-title {
}

.chat-messages {
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 3px;
}

.chat-message {
    width: 60%;
}

.chat-message .alert {
    padding: 5px;
}

.outbound {
    margin-left: auto;
    text-align: right;
}